In [34]:
import os
import pandas as pd
import numpy as np

In [35]:
# Get current working directory
os.getcwd()

'/Users/mgibbs/Documents/ML1-Final-Project'

In [36]:
# Get affiliations
aff = pd.read_csv('data/combined_data/affiliations.csv')

In [37]:
# Check affiliations
aff.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,aff_author_count,aff_city,aff_country,aff_document_count,aff_name,aff_state,index,scopus idx
0,0,0,NaN,2306,Irvine,United States,6959,UCI School of Medicine,CA,0,"('Marc A', 'Yonkers')"
1,1,0,NaN,14,Irvine,United States,12,Gavin Herbert Eye Institute,CA,1,"('Marc A', 'Yonkers')"
2,2,0,NaN,7,Philadelphia,United States,5,Center for Biomedical Image Computing and Anal...,PA,2,"('Paul A', 'Yushkevich')"
3,3,0,NaN,41501,Philadelphia,United States,192576,University of Pennsylvania,PA,3,"('Paul A', 'Yushkevich')"
4,4,0,NaN,2388,San Jose,United States,14387,IBM Almaden Research Center,CA,4,"('Paul A', 'Yushkevich')"

In [38]:
# Drop Unnamed columns
for col in aff.columns.to_list():
    if 'Unnamed' in col:
        aff = aff.drop(col, axis=1)
    else:
        pass
# Rename columns
aff = aff.rename(columns={'scopus idx': 'scopus_idx'})
# Reorganize columns
aff = aff[['aff_name', 'aff_city', 'aff_state', 'aff_country', 'aff_author_count', 'aff_document_count', 
           'scopus_idx']]

In [39]:
# Make aff lowercase
aff = aff.applymap(lambda s:s.lower() if type(s) == str else s)
# Strip aff_idx
aff['scopus_idx'] = aff['scopus_idx'].str.replace(" ", " ")
aff['scopus_idx'] = aff['scopus_idx'].str.replace("  ", " ")
aff['scopus_idx'] = aff['scopus_idx'].str.replace("(", "")
aff['scopus_idx'] = aff['scopus_idx'].str.replace(")", "")
aff['scopus_idx'] = aff['scopus_idx'].str.replace("'", "")
aff['scopus_idx'] = aff['scopus_idx'].str.replace('"', "")
aff['scopus_idx'] = aff['scopus_idx'].str.replace(",", "")

In [40]:
# Check affiliations
aff.head()

,aff_name,aff_city,aff_state,aff_country,aff_author_count,aff_document_count,scopus_idx
0,uci school of medicine,irvine,ca,united states,2306,6959,marc a yonkers
1,gavin herbert eye institute,irvine,ca,united states,14,12,marc a yonkers
2,center for biomedical image computing and anal...,philadelphia,pa,united states,7,5,paul a yushkevich
3,university of pennsylvania,philadelphia,pa,united states,41501,192576,paul a yushkevich
4,ibm almaden research center,san jose,ca,united states,2388,14387,paul a yushkevich

In [41]:
# Out clean affiliations as csv
aff.to_csv('data/cleaned_data/clean_affiliations.csv')

In [42]:
# Get coauthors
coauth = pd.read_csv('data/combined_data/coauthors.csv')

In [43]:
# Check coauthors
coauth.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,affiliation_id,areas,city,country,given_name,id,index,name,scopus_idx,surname
0,0,0,NaN,60012708.0,Medicine (all); Immunology and Microbiology (a...,Palo Alto,United States,Lawrence A.,7101723531,0,Stanford University,"('Jason C', 'Dugas')",Steinman
1,1,1,NaN,60032445.0,"Biochemistry, Genetics and Molecular Biology (...",San Diego,United States,Inder Mohan,7203064176,1,Salk Institute for Biological Studies,"('Jason C', 'Dugas')",Verma
2,2,2,NaN,60013227.0,Immunology and Microbiology (all); Medicine (a...,Chicago,United States,Stephen D.,24285385400,2,Northwestern University Feinberg School of Med...,"('Jason C', 'Dugas')",Miller
3,3,3,NaN,60027468.0,"Biochemistry, Genetics and Molecular Biology (...",Melbourne,Australia,Terence P.,7005717537,3,Walter and Eliza Hall Institute of Medical Res...,"('Jason C', 'Dugas')",Speed
4,4,4,NaN,60029241.0,"Biochemistry, Genetics and Molecular Biology (...",Santa Barbara,United States,Kenneth S.,7006708622,4,"University of California, Santa Barbara","('Jason C', 'Dugas')",Kosik

In [44]:
# Drop Unnamed
for col in coauth.columns.to_list():
    if 'Unnamed' in col:
        coauth = coauth.drop(col, axis=1)
    else:
        pass
# Rename columns
coauth = coauth.rename(columns={'name': 'coauth_aff_name', 'city': 'coauth_aff_city', 
                                'country': 'coauth_aff_country'})
# Reorganize columns, dropping affiliation_id, areas, given_name, id, and surname
coauth = coauth[['coauth_aff_name', 'coauth_aff_city', 'coauth_aff_country', 'scopus_idx']]

In [45]:
# Make coauth lowercase
coauth = coauth.applymap(lambda s:s.lower() if type(s) == str else s)
# Strip scopus_idx
coauth['scopus_idx'] = coauth['scopus_idx'].str.replace(" ", " ")
coauth['scopus_idx'] = coauth['scopus_idx'].str.replace("  ", " ")
coauth['scopus_idx'] = coauth['scopus_idx'].str.replace("(", "")
coauth['scopus_idx'] = coauth['scopus_idx'].str.replace(")", "")
coauth['scopus_idx'] = coauth['scopus_idx'].str.replace("'", "")
coauth['scopus_idx'] = coauth['scopus_idx'].str.replace('"', "")
coauth['scopus_idx'] = coauth['scopus_idx'].str.replace(",", "")

In [46]:
# Check coauthors
coauth.head()

,coauth_aff_name,coauth_aff_city,coauth_aff_country,scopus_idx
0,stanford university,palo alto,united states,jason c dugas
1,salk institute for biological studies,san diego,united states,jason c dugas
2,northwestern university feinberg school of med...,chicago,united states,jason c dugas
3,walter and eliza hall institute of medical res...,melbourne,australia,jason c dugas
4,"university of california, santa barbara",santa barbara,united states,jason c dugas

In [47]:
# Out clean coauthors as csv
coauth.to_csv('data/cleaned_data/clean_coauthors.csv')

In [48]:
# Get journals 
jour = pd.read_csv('data/combined_data/journals.csv')

/Users/mgibbs/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (14,28,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [49]:
# Check journals
jour.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,affiliation_city,affiliation_country,affilname,afid,aggregationType,article_number,authkeywords,...,openaccess,pageRange,pii,publicationName,pubmed_id,scopus_idx,source_id,subtype,title,volume
0,0,0,NaN,Indianapolis;Indianapolis;Cincinnati;Indianapolis,United States;United States;United States;Unit...,Indiana University-Purdue University Indianapo...,60024609;60021947;60025152;60024609,Journal,NaN,beta subunit | hyperexcitability | pain | resu...,...,0,1539-1550,NaN,The Journal of neuroscience : the official jou...,3.06172e+07,"('Theodore R', 'Cummins')",16764,ar,Increased Resurgent Sodium Currents in Nav1.8 ...,39
1,1,1,NaN,Indianapolis;Indianapolis;Indianapolis;Indiana...,United States;United States;United States;Unit...,Indiana University-Purdue University Indianapo...,60024609;60024609;60024609;60024609,Journal,NaN,astrocyte | development | differentiation | pl...,...,1,201-212,S2213671118305290,Stem Cell Reports,3.06392e+07,"('Theodore R', 'Cummins')",2.11002e+10,ar,Astrocytes Regulate the Development and Matura...,12
2,2,2,NaN,West Lafayette;Indianapolis;Indianapolis;India...,United States;United States;United States;Unit...,Purdue University;Indiana University School of...,60009254;60021947;60021947;60029331;60021947;6...,Journal,NaN,Calcium/calmodulin-dependent protein kinase II...,...,0,895-904,S1547527118300407,Heart Rhythm,2.94101e+07,"('Theodore R', 'Cummins')",23246,ar,Calcium/calmodulin-dependent protein kinase II...,15
3,3,3,NaN,Bloomington;Indianapolis;St Louis,United States;United States;United States,Indiana University;University of Indianapolis;...,60021121;60029331;60022756,Journal,1702945,biosensors | ion channels | scanned probes,...,1,NaN,NaN,Small,NaN,"('Theodore R', 'Cummins')",3.20015e+09,ar,Characterization of Membrane Patch-Ion Channel...,14
4,4,4,NaN,Indianapolis;Indianapolis,United States;United States,Indiana University School of Medicine Indianap...,60021947;60024609,Journal,e0193280,NaN,...,1,NaN,NaN,PLoS ONE,2.94745e+07,"('Theodore R', 'Cummins')",1.06002e+10,ar,Advanced glycation end (AGE) product modificat...,13

In [50]:
# Drop Unnamed
for col in jour.columns.to_list():
    if 'Unnamed' in col:
        jour = jour.drop(col, axis=1)
    else:
        pass
# Rename columns
jour = jour.rename(columns={'coverDate': 'cover_date', 'publicationName': 'publication_name', 
                            'aggregationType': 'publication_type', 'openaccess': 'open_access'})
# Reorganize columns, dropping affiliation_city, affiliation_country, affilname, afid, article_number, 
# authkeywords, author_afids, author_ids, author_names, coverDisplayDate, creator, description, doi, eIssn, eid, 
# fund_acr, fund_no, fund_sponsor, index, issn, issueIdentifier, pageRange, pii, pubmed_id, source_id, subtype, 
# title, volume 
jour = jour[['author_count', 'publication_name', 'cover_date', 'publication_type', 'open_access', 'citedby_count', 
             'scopus_idx']]

In [51]:
# Make jour lowercase
jour = jour.applymap(lambda s:s.lower() if type(s) == str else s)
# Strip scopus_idx
jour['scopus_idx'] = jour['scopus_idx'].str.replace(" ", " ")
jour['scopus_idx'] = jour['scopus_idx'].str.replace("  ", " ")
jour['scopus_idx'] = jour['scopus_idx'].str.replace("(", "")
jour['scopus_idx'] = jour['scopus_idx'].str.replace(")", "")
jour['scopus_idx'] = jour['scopus_idx'].str.replace("'", "")
jour['scopus_idx'] = jour['scopus_idx'].str.replace('"', "")
jour['scopus_idx'] = jour['scopus_idx'].str.replace(",", "")

In [52]:
# Check journals
jour.head()

,author_count,publication_name,cover_date,publication_type,open_access,citedby_count,scopus_idx
0,9.0,the journal of neuroscience : the official jou...,2019-02-20,journal,0,0,theodore r cummins
1,16.0,stem cell reports,2019-02-12,journal,1,0,theodore r cummins
2,10.0,heart rhythm,2018-06-01,journal,0,2,theodore r cummins
3,7.0,small,2018-05-03,journal,1,2,theodore r cummins
4,6.0,plos one,2018-02-01,journal,1,1,theodore r cummins

In [53]:
# Out clean journals as csv
jour.to_csv('data/cleaned_data/clean_journals.csv')

In [54]:
# Get scopus
scopus = pd.read_csv('data/combined_data/scopus.csv')

In [55]:
# Check scopus
scopus.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,aff_current_auth_count,aff_current_city_from_affid,aff_current_city_from_authsearch,aff_current_country_from_affid,aff_current_country_from_authsearch,aff_current_doc_count,aff_current_name_from_affid,...,citation_count,cited_by_count,coauthor_count,document_count,end_publication_range,h_index,index,name,scopus idx,scopus_id
0,0,0,NaN,12063,Rochester,NaN,United States,NaN,71573,University of Rochester,...,17171,12803,3672,227,2019,68,0,Gail V Johnson,"('Gail V', 'Johnson')",7405720496
1,1,0,NaN,1744,London,NaN,United Kingdom,NaN,16439,"The Natural History Museum, London",...,8948,5286,219,141,2018,54,1,Kenneth O Johnson,"('Kenneth O', 'Johnson')",7405968178
2,2,0,NaN,8517,Baltimore,NaN,United States,NaN,35650,"University of Maryland, Baltimore",...,16607,12653,1177,175,2012,46,2,Kenneth P Johnson,"('Kenneth P', 'Johnson')",7405971272
3,3,0,NaN,39046,Minneapolis,NaN,United States,NaN,173691,University of Minnesota Twin Cities,...,2454,1492,132,100,2015,29,3,Rodney L Johnson,"('Rodney L', 'Johnson')",7407012896
4,4,0,NaN,20437,Atlanta,NaN,United States,NaN,110368,Georgia Institute of Technology,...,1720,1416,97,119,2018,22,4,Steven W Johnson,"('Steven W', 'Johnson')",7404847735

In [56]:
# Drop Unnamed
for col in scopus.columns.to_list():
    if 'Unnamed' in col:
        scopus = scopus.drop(col, axis=1)
    else:
        pass
# Rename columns
scopus = scopus.rename(columns={'aff_current_auth_count': 'current_aff_auth_count', 
                                'aff_current_city_from_affid': 'current_aff_city',
                                'aff_current_country_from_affid': 'current_aff_country', 
                                'aff_current_doc_count': 'current_aff_document_count', 
                                'aff_current_name_from_affid': 'current_aff_name', 
                                'aff_current_state_from_affid': 'current_aff_state',
                                'cited_by_count': 'citedby_count', 'scopus idx': 'scopus_idx'})
# Reorganize columns, dropping aff_current_city_from_authsearch, aff_current_country_from_authsearch, 
# aff_current_name_from_authsearch, index, name, and scopus_id
scopus = scopus[['document_count', 'coauthor_count', 'citation_count', 'citedby_count', 'h_index',
                 'begin_publication_range', 'end_publication_range', 'current_aff_name', 'current_aff_city', 
                 'current_aff_state', 'current_aff_country', 'scopus_idx']]

In [57]:
# Make scopus lowercase
scopus = scopus.applymap(lambda s:s.lower() if type(s) == str else s)
# Strip scopus_idx
scopus['scopus_idx'] = scopus['scopus_idx'].str.replace(" ", " ")
scopus['scopus_idx'] = scopus['scopus_idx'].str.replace("  ", " ")
scopus['scopus_idx'] = scopus['scopus_idx'].str.replace("(", "")
scopus['scopus_idx'] = scopus['scopus_idx'].str.replace(")", "")
scopus['scopus_idx'] = scopus['scopus_idx'].str.replace("'", "")
scopus['scopus_idx'] = scopus['scopus_idx'].str.replace('"', "")
scopus['scopus_idx'] = scopus['scopus_idx'].str.replace(",", "")

In [58]:
# Check scopus
scopus.head()

,document_count,coauthor_count,citation_count,citedby_count,h_index,begin_publication_range,end_publication_range,current_aff_name,current_aff_city,current_aff_state,current_aff_country,scopus_idx
0,227,3672,17171,12803,68,1984,2019,university of rochester,rochester,ny,united states,gail v johnson
1,141,219,8948,5286,54,1973,2018,"the natural history museum, london",london,NaN,united kingdom,kenneth o johnson
2,175,1177,16607,12653,46,1967,2012,"university of maryland, baltimore",baltimore,md,united states,kenneth p johnson
3,100,132,2454,1492,29,1976,2015,university of minnesota twin cities,minneapolis,mn,united states,rodney l johnson
4,119,97,1720,1416,22,1981,2018,georgia institute of technology,atlanta,ga,united states,steven w johnson

In [59]:
# Out clean scopus as csv
scopus.to_csv('data/cleaned_data/clean_scopus.csv')

In [60]:
# Get ninds
ninds = pd.read_csv('data/combined_data/ninds_scopus_idx.csv')

/Users/mgibbs/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5,9,11,17,30,42,43,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [61]:
# Check ninds
ninds.head()

,unnamed: 0,Unnamed: 0,arra indicator,activity,administering ic,application id,award notice date,budget end date,budget start date,cfda code,...,public health relevance,serial number,study section,subproject number,suffix,support year,type,unnamed: 0.1,unnamed: 47,scopus_idx
0,0,0,,F32,NINDS,2261377,23-SEP-1993,31-JAN-1995,1-FEB-1994,NaN,...,NaN,9569,Special Emphasis Panel (BNS-1),NaN,NaN,1,1,NaN,NaN,"('Sandra M', 'Aamodt')"
1,1,1,,K08,NINDS,2259227,6-NOV-1992,30-NOV-1994,1-DEC-1992,NaN,...,NaN,1315,Neurological Disorders Program Project Review ...,NaN,NaN,5,5,NaN,NaN,"('Ralph D', 'Aarons')"
2,2,2,,R01,NINDS,3409968,24-NOV-1992,30-NOV-1993,1-DEC-1992,NaN,...,NaN,24932,Neurological Sciences Subcommittee 1 (NLS-1),NaN,NaN,7,5,NaN,NaN,"('Creed W', 'Abell')"
3,3,3,,R01,NINDS,3399173,9-JUL-1993,31-AUG-1994,1-SEP-1993,NaN,...,NaN,19194,Physiology Study Section (PHY),NaN,NaN,12,2,NaN,NaN,"('Ronald F', 'Abercrombie')"
4,4,4,,R01,NINDS,2262781,13-JAN-1993,31-DEC-1995,1-DEC-1992,NaN,...,NaN,15295,Special Emphasis Panel (SRC (07)),NaN,NaN,14,5,NaN,NaN,"('Norman S', 'Abramson')"

In [62]:
# Drop Unnamed
for col in ninds.columns.to_list():
    if 'Unnamed' in col:
        ninds = ninds.drop(col, axis=1)
    else:
        pass
# Rename columns
ninds = ninds.rename(columns={'application id': 'grant_application_id', 'activity': 'grant_type', 
                              'fy': 'fiscal_year', 'fy total cost by ic': 'fiscal_year_total_cost', 
                              'organization city': 'ninds_aff_city', 'organization country': 'ninds_aff_country', 
                              'organization name': 'ninds_aff_name', 'organization state': 'ninds_aff_state', 
                              'organization type': 'ninds_aff_type', 
                              'other pi or project leader(s)': 'other_project_leader', 
                              'project end date': 'project_end_date', 'project start date': 'project_start_date',
                              'support year': 'support_year'})
# Reorganize columns, dropping arra indicator, administering ic, award notice date, budget end date, 
# budget start date, cfda code, congressional district, contact pi / project leader, duns number, 
# department, fips, foa, fy direct costs, fy indirect costs, fy total cost (sub projects), funding ic, 
# funding mechanism, ic, latitude, longitude, nih spending categorization, organization id (ipf), organization zip, 
# program official information, project_number, project terms, project title, public health relevance, 
# serial number, study section, subproject number, suffix, and type
ninds = ninds[['grant_application_id', 'grant_type', 'fiscal_year', 'support_year', 'project_start_date', 
               'project_end_date', 'other_project_leader', 'ninds_aff_name', 'ninds_aff_type', 'ninds_aff_city', 
               'ninds_aff_state', 'ninds_aff_country', 'fiscal_year_total_cost', 'scopus_idx']]

In [63]:
# Make ninds lowercase
ninds = ninds.applymap(lambda s:s.lower() if type(s) == str else s)
# Strip scopus_idx
ninds['scopus_idx'] = ninds['scopus_idx'].str.replace(" ", " ")
ninds['scopus_idx'] = ninds['scopus_idx'].str.replace("  ", " ")
ninds['scopus_idx'] = ninds['scopus_idx'].str.replace("(", "")
ninds['scopus_idx'] = ninds['scopus_idx'].str.replace(")", "")
ninds['scopus_idx'] = ninds['scopus_idx'].str.replace("'", "")
ninds['scopus_idx'] = ninds['scopus_idx'].str.replace('"', "")
ninds['scopus_idx'] = ninds['scopus_idx'].str.replace(",", "")

In [64]:
# Check ninds
ninds.head()

,grant_application_id,grant_type,fiscal_year,support_year,project_start_date,project_end_date,other_project_leader,ninds_aff_name,ninds_aff_type,ninds_aff_city,ninds_aff_state,ninds_aff_country,fiscal_year_total_cost,scopus_idx
0,2261377,f32,1993,1,1-apr-1994,NaN,not applicable,yale university,schools of arts and sciences,new haven,ct,united states,21600.0,sandra m aamodt
1,2259227,k08,1993,5,1-aug-1988,30-nov-1994,not applicable,stanford university,schools of medicine,stanford,ca,united states,79933.0,ralph d aarons
2,3409968,r01,1993,7,1-dec-1986,30-nov-1994,not applicable,university of texas austin,schools of pharmacy,austin,tx,united states,242061.0,creed w abell
3,3399173,r01,1993,12,1-may-1982,31-aug-1997,not applicable,emory university,schools of medicine,atlanta,ga,united states,174633.0,ronald f abercrombie
4,2262781,r01,1993,14,1-jun-1979,31-dec-1995,not applicable,university of pittsburgh at pittsburgh,schools of medicine,pittsburgh,pa,united states,885354.0,norman s abramson

In [65]:
# Out clean ninds as csv
ninds.to_csv('data/cleaned_data/clean_ninds_scopus_idx.csv')