In [39]:
import pandas as pd
import numpy as np

In [40]:
# Function to drop unnamed columns
def drop_unnamed_columns(df_name):
    for col in df_name.columns.to_list():
        if 'unnamed' in col.lower():
            df_name = df_name.drop(col, axis=1)
        else:
            pass
    return df_name

In [41]:
# Function to strip scopus index
def strip_scopus_idx(df_name):
    df_name['scopus_idx'] = df_name['scopus_idx'].str.replace(' ', ' ')
    df_name['scopus_idx'] = df_name['scopus_idx'].str.replace('  ', ' ')
    df_name['scopus_idx'] = df_name['scopus_idx'].str.replace('(', '')
    df_name['scopus_idx'] = df_name['scopus_idx'].str.replace(')', '')
    df_name['scopus_idx'] = df_name['scopus_idx'].str.replace("'", "")
    df_name['scopus_idx'] = df_name['scopus_idx'].str.replace('"', "")
    df_name['scopus_idx'] = df_name['scopus_idx'].str.replace(',', '')
    return df_name

## clean ninds

In [42]:
# Get ninds
ninds = pd.read_csv('data/combined_data/ninds_scopus_idx.csv')

/Users/mgibbs/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5,9,11,17,30,42,43,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [43]:
# Check ninds
ninds.head()

,unnamed: 0,Unnamed: 0,arra indicator,activity,administering ic,application id,award notice date,budget end date,budget start date,cfda code,...,public health relevance,serial number,study section,subproject number,suffix,support year,type,unnamed: 0.1,unnamed: 47,scopus_idx
0,0,0,,F32,NINDS,2261377,23-SEP-1993,31-JAN-1995,1-FEB-1994,NaN,...,NaN,9569,Special Emphasis Panel (BNS-1),NaN,NaN,1,1,NaN,NaN,"('Sandra M', 'Aamodt')"
1,1,1,,K08,NINDS,2259227,6-NOV-1992,30-NOV-1994,1-DEC-1992,NaN,...,NaN,1315,Neurological Disorders Program Project Review ...,NaN,NaN,5,5,NaN,NaN,"('Ralph D', 'Aarons')"
2,2,2,,R01,NINDS,3409968,24-NOV-1992,30-NOV-1993,1-DEC-1992,NaN,...,NaN,24932,Neurological Sciences Subcommittee 1 (NLS-1),NaN,NaN,7,5,NaN,NaN,"('Creed W', 'Abell')"
3,3,3,,R01,NINDS,3399173,9-JUL-1993,31-AUG-1994,1-SEP-1993,NaN,...,NaN,19194,Physiology Study Section (PHY),NaN,NaN,12,2,NaN,NaN,"('Ronald F', 'Abercrombie')"
4,4,4,,R01,NINDS,2262781,13-JAN-1993,31-DEC-1995,1-DEC-1992,NaN,...,NaN,15295,Special Emphasis Panel (SRC (07)),NaN,NaN,14,5,NaN,NaN,"('Norman S', 'Abramson')"

In [44]:
# Drop unnamed columns
ninds = drop_unnamed_columns(ninds)
# Drop arra indicator, administering ic, award notice date, budget end date, budget start date, cfda code, 
# congressional district, contact pi  person id, contact pi / project leader, duns number, department, fips, foa, 
# fy direct costs, fy indirect costs, fy total cost (sub projects), funding ic, funding mechanism, ic, latitude, 
# longitude, nih spending categorization, organization id (ipf), organization zip, program official information, 
# project_number, project terms, project title, public health relevance, serial number, study section, 
# subproject number, suffix, type
ninds = ninds[['activity', 'application id', 'fy', 'fy total cost by ic', 'organization city', 
               'organization country', 'organization name', 'organization state', 'organization type', 
               'other pi or project leader(s)', 'project end date', 'project start date', 'support year', 
               'scopus_idx']]

In [45]:
# Rename columns
ninds = ninds.rename(columns={'application id': 'ninds_grant_application_id', 
                              'activity': 'ninds_grant_type', 
                              'fy': 'ninds_fiscal_year', 
                              'fy total cost by ic': 'ninds_fiscal_year_total_cost', 
                              'organization city': 'ninds_aff_city', 
                              'organization country': 'ninds_aff_country', 
                              'organization name': 'ninds_aff_name', 
                              'organization state': 'ninds_aff_state', 
                              'organization type': 'ninds_aff_type', 
                              'other pi or project leader(s)': 'ninds_other_project_leader', 
                              'project end date': 'ninds_project_end_date', 
                              'project start date': 'ninds_project_start_date',
                              'support year': 'ninds_support_year'})
# Fix ninds_fiscal_year 
ninds = ninds[ninds['ninds_fiscal_year'] != 'NINDS']
ninds['ninds_fiscal_year'] = ninds['ninds_fiscal_year'].astype(int)
# Fix ninds_fiscal_year_total_cost
ninds['ninds_fiscal_year_total_cost'] = ninds['ninds_fiscal_year_total_cost'].astype(float)
# Strip scopus_idx
ninds = strip_scopus_idx(ninds)

In [46]:
# Make ninds lowercase
ninds = ninds.applymap(lambda s:s.lower() if type(s) == str else s)

In [47]:
# Check ninds
ninds.head()

,ninds_grant_type,ninds_grant_application_id,ninds_fiscal_year,ninds_fiscal_year_total_cost,ninds_aff_city,ninds_aff_country,ninds_aff_name,ninds_aff_state,ninds_aff_type,ninds_other_project_leader,ninds_project_end_date,ninds_project_start_date,ninds_support_year,scopus_idx
0,f32,2261377,1993,21600.0,new haven,united states,yale university,ct,schools of arts and sciences,not applicable,NaN,1-apr-1994,1,sandra m aamodt
1,k08,2259227,1993,79933.0,stanford,united states,stanford university,ca,schools of medicine,not applicable,30-nov-1994,1-aug-1988,5,ralph d aarons
2,r01,3409968,1993,242061.0,austin,united states,university of texas austin,tx,schools of pharmacy,not applicable,30-nov-1994,1-dec-1986,7,creed w abell
3,r01,3399173,1993,174633.0,atlanta,united states,emory university,ga,schools of medicine,not applicable,31-aug-1997,1-may-1982,12,ronald f abercrombie
4,r01,2262781,1993,885354.0,pittsburgh,united states,university of pittsburgh at pittsburgh,pa,schools of medicine,not applicable,31-dec-1995,1-jun-1979,14,norman s abramson

In [48]:
# Out clean ninds as csv
ninds.to_csv('data/cleaned_data/clean_ninds.csv')

## clean affiliations

In [49]:
# Get affiliations
aff = pd.read_csv('data/combined_data/affiliations.csv')

In [50]:
# Check affiliations
aff.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,aff_author_count,aff_city,aff_country,aff_document_count,aff_name,aff_state,index,scopus idx
0,0,0,NaN,2306,Irvine,United States,6959,UCI School of Medicine,CA,0,"('Marc A', 'Yonkers')"
1,1,0,NaN,14,Irvine,United States,12,Gavin Herbert Eye Institute,CA,1,"('Marc A', 'Yonkers')"
2,2,0,NaN,7,Philadelphia,United States,5,Center for Biomedical Image Computing and Anal...,PA,2,"('Paul A', 'Yushkevich')"
3,3,0,NaN,41501,Philadelphia,United States,192576,University of Pennsylvania,PA,3,"('Paul A', 'Yushkevich')"
4,4,0,NaN,2388,San Jose,United States,14387,IBM Almaden Research Center,CA,4,"('Paul A', 'Yushkevich')"

In [51]:
# Drop unnamed columns
aff = drop_unnamed_columns(aff)
# Drop index 
aff = aff.drop('index', axis=1)

In [52]:
# Rename columns
aff = aff.rename(columns={'scopus idx': 'scopus_idx'})
# Strip scopus_idx
aff = strip_scopus_idx(aff)

In [53]:
# Make aff lowercase
aff = aff.applymap(lambda s:s.lower() if type(s) == str else s)

In [54]:
# Check affiliations
aff.head()

,aff_author_count,aff_city,aff_country,aff_document_count,aff_name,aff_state,scopus_idx
0,2306,irvine,united states,6959,uci school of medicine,ca,marc a yonkers
1,14,irvine,united states,12,gavin herbert eye institute,ca,marc a yonkers
2,7,philadelphia,united states,5,center for biomedical image computing and anal...,pa,paul a yushkevich
3,41501,philadelphia,united states,192576,university of pennsylvania,pa,paul a yushkevich
4,2388,san jose,united states,14387,ibm almaden research center,ca,paul a yushkevich

In [55]:
# Out clean affiliations as csv
aff.to_csv('data/cleaned_data/clean_affiliations.csv')

## clean coauthors

In [56]:
# Get coauthors
coauth = pd.read_csv('data/combined_data/coauthors.csv')

In [57]:
# Check coauthors
coauth.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,affiliation_id,areas,city,country,given_name,id,index,name,scopus_idx,surname
0,0,0,NaN,60012708.0,Medicine (all); Immunology and Microbiology (a...,Palo Alto,United States,Lawrence A.,7101723531,0,Stanford University,"('Jason C', 'Dugas')",Steinman
1,1,1,NaN,60032445.0,"Biochemistry, Genetics and Molecular Biology (...",San Diego,United States,Inder Mohan,7203064176,1,Salk Institute for Biological Studies,"('Jason C', 'Dugas')",Verma
2,2,2,NaN,60013227.0,Immunology and Microbiology (all); Medicine (a...,Chicago,United States,Stephen D.,24285385400,2,Northwestern University Feinberg School of Med...,"('Jason C', 'Dugas')",Miller
3,3,3,NaN,60027468.0,"Biochemistry, Genetics and Molecular Biology (...",Melbourne,Australia,Terence P.,7005717537,3,Walter and Eliza Hall Institute of Medical Res...,"('Jason C', 'Dugas')",Speed
4,4,4,NaN,60029241.0,"Biochemistry, Genetics and Molecular Biology (...",Santa Barbara,United States,Kenneth S.,7006708622,4,"University of California, Santa Barbara","('Jason C', 'Dugas')",Kosik

In [58]:
# Drop unnamed columns
coauth = drop_unnamed_columns(coauth)
# Drop index 
coauth = coauth.drop('index', axis=1)
# Drop affiliation_id, areas, given_name, id, surname
coauth = coauth[['city', 'country', 'name', 'scopus_idx']]

In [59]:
# Rename columns
coauth = coauth.rename(columns={'city': 'coauth_aff_city', 
                                'country': 'coauth_aff_country', 
                                'name': 'coauth_aff_name'})
# Strip scopus_idx
coauth = strip_scopus_idx(coauth)

In [60]:
# Make coauth lowercase
coauth = coauth.applymap(lambda s:s.lower() if type(s) == str else s)

In [61]:
# Check coauthors
coauth.head()

,coauth_aff_city,coauth_aff_country,coauth_aff_name,scopus_idx
0,palo alto,united states,stanford university,jason c dugas
1,san diego,united states,salk institute for biological studies,jason c dugas
2,chicago,united states,northwestern university feinberg school of med...,jason c dugas
3,melbourne,australia,walter and eliza hall institute of medical res...,jason c dugas
4,santa barbara,united states,"university of california, santa barbara",jason c dugas

In [62]:
# Out clean coauthors as csv
coauth.to_csv('data/cleaned_data/clean_coauthors.csv')

## clean journals

In [63]:
# Get journals 
jour = pd.read_csv('data/combined_data/journals.csv')

/Users/mgibbs/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (14,28,32,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [64]:
# Check journals
jour.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,affiliation_city,affiliation_country,affilname,afid,aggregationType,article_number,authkeywords,...,openaccess,pageRange,pii,publicationName,pubmed_id,scopus_idx,source_id,subtype,title,volume
0,0,0,NaN,Indianapolis;Indianapolis;Cincinnati;Indianapolis,United States;United States;United States;Unit...,Indiana University-Purdue University Indianapo...,60024609;60021947;60025152;60024609,Journal,NaN,beta subunit | hyperexcitability | pain | resu...,...,0,1539-1550,NaN,The Journal of neuroscience : the official jou...,3.06172e+07,"('Theodore R', 'Cummins')",16764,ar,Increased Resurgent Sodium Currents in Nav1.8 ...,39
1,1,1,NaN,Indianapolis;Indianapolis;Indianapolis;Indiana...,United States;United States;United States;Unit...,Indiana University-Purdue University Indianapo...,60024609;60024609;60024609;60024609,Journal,NaN,astrocyte | development | differentiation | pl...,...,1,201-212,S2213671118305290,Stem Cell Reports,3.06392e+07,"('Theodore R', 'Cummins')",2.11002e+10,ar,Astrocytes Regulate the Development and Matura...,12
2,2,2,NaN,West Lafayette;Indianapolis;Indianapolis;India...,United States;United States;United States;Unit...,Purdue University;Indiana University School of...,60009254;60021947;60021947;60029331;60021947;6...,Journal,NaN,Calcium/calmodulin-dependent protein kinase II...,...,0,895-904,S1547527118300407,Heart Rhythm,2.94101e+07,"('Theodore R', 'Cummins')",23246,ar,Calcium/calmodulin-dependent protein kinase II...,15
3,3,3,NaN,Bloomington;Indianapolis;St Louis,United States;United States;United States,Indiana University;University of Indianapolis;...,60021121;60029331;60022756,Journal,1702945,biosensors | ion channels | scanned probes,...,1,NaN,NaN,Small,NaN,"('Theodore R', 'Cummins')",3.20015e+09,ar,Characterization of Membrane Patch-Ion Channel...,14
4,4,4,NaN,Indianapolis;Indianapolis,United States;United States,Indiana University School of Medicine Indianap...,60021947;60024609,Journal,e0193280,NaN,...,1,NaN,NaN,PLoS ONE,2.94745e+07,"('Theodore R', 'Cummins')",1.06002e+10,ar,Advanced glycation end (AGE) product modificat...,13

In [65]:
# Drop unnamed columns
jour = drop_unnamed_columns(jour)
# Drop index 
jour = jour.drop('index', axis=1)
# Drop affiliation_city, affiliation_country, affilname, afid, article_number, authkeywords, author_afids,
# author_ids, author_names, citedby_count, coverDate, coverDisplayDate, creator, description, doi, eIssn, eid, 
# fund_acr, fund_no, fund_sponsor, issn, issueIdentifier, openaccess, pageRange, pii, pubmed_id, source_id, 
# subtype, title, volume 
jour = jour[['aggregationType', 'author_count', 'publicationName', 'scopus_idx']]

In [66]:
# Rename columns
jour = jour.rename(columns={'aggregationType': 'jour_publication_type',
                            'author_count': 'jour_author_count',
                            'publicationName': 'jour_publication_name'})
# Strip scopus_idx
jour = strip_scopus_idx(jour)

In [67]:
# Make jour lowercase
jour = jour.applymap(lambda s:s.lower() if type(s) == str else s)

In [68]:
# Check journals
jour.head()

,jour_publication_type,jour_author_count,jour_publication_name,scopus_idx
0,journal,9.0,the journal of neuroscience : the official jou...,theodore r cummins
1,journal,16.0,stem cell reports,theodore r cummins
2,journal,10.0,heart rhythm,theodore r cummins
3,journal,7.0,small,theodore r cummins
4,journal,6.0,plos one,theodore r cummins

In [69]:
# Out clean journals as csv
jour.to_csv('data/cleaned_data/clean_journals.csv')

## clean scopus

In [70]:
# Get scopus
scopus = pd.read_csv('data/combined_data/scopus.csv')

In [71]:
# Check scopus
scopus.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,aff_current_auth_count,aff_current_city_from_affid,aff_current_city_from_authsearch,aff_current_country_from_affid,aff_current_country_from_authsearch,aff_current_doc_count,aff_current_name_from_affid,...,citation_count,cited_by_count,coauthor_count,document_count,end_publication_range,h_index,index,name,scopus idx,scopus_id
0,0,0,NaN,12063,Rochester,NaN,United States,NaN,71573,University of Rochester,...,17171,12803,3672,227,2019,68,0,Gail V Johnson,"('Gail V', 'Johnson')",7405720496
1,1,0,NaN,1744,London,NaN,United Kingdom,NaN,16439,"The Natural History Museum, London",...,8948,5286,219,141,2018,54,1,Kenneth O Johnson,"('Kenneth O', 'Johnson')",7405968178
2,2,0,NaN,8517,Baltimore,NaN,United States,NaN,35650,"University of Maryland, Baltimore",...,16607,12653,1177,175,2012,46,2,Kenneth P Johnson,"('Kenneth P', 'Johnson')",7405971272
3,3,0,NaN,39046,Minneapolis,NaN,United States,NaN,173691,University of Minnesota Twin Cities,...,2454,1492,132,100,2015,29,3,Rodney L Johnson,"('Rodney L', 'Johnson')",7407012896
4,4,0,NaN,20437,Atlanta,NaN,United States,NaN,110368,Georgia Institute of Technology,...,1720,1416,97,119,2018,22,4,Steven W Johnson,"('Steven W', 'Johnson')",7404847735

In [72]:
# Drop unnamed columns
scopus = drop_unnamed_columns(scopus)
# Drop index 
scopus = scopus.drop('index', axis=1)
# Drop aff_current_city_from_affid, aff_current_city_from_authsearch, aff_current_country_from_authsearch, 
# aff_current_name_from_authsearch, name, scopus_id
scopus = scopus[['aff_current_auth_count', 'aff_current_country_from_affid', 'aff_current_doc_count', 
                 'aff_current_name_from_affid', 'aff_current_state_from_affid', 'begin_publication_range', 
                 'citation_count', 'cited_by_count', 'coauthor_count', 'document_count', 'end_publication_range', 
                 'h_index', 'scopus idx']]

In [73]:
# Rename columns
scopus = scopus.rename(columns={'aff_current_auth_count': 'scopus_current_aff_auth_count', 
                                'aff_current_country_from_affid': 'scopus_current_aff_country', 
                                'aff_current_doc_count': 'scopus_current_aff_document_count', 
                                'aff_current_name_from_affid': 'scopus_current_aff_name', 
                                'aff_current_state_from_affid': 'scopus_current_aff_state',
                                'begin_publication_range': 'scopus_begin_publication_range', 
                                'citation_count': 'scopus_citation_count',
                                'cited_by_count': 'scopus_cited_by_count',
                                'coauthor_count': 'scopus_coauthor_count',
                                'document_count': 'scopus_document_count',
                                'end_publication_range': 'scopus_end_publication_range',
                                'h_index': 'scopus_h_index',
                                'scopus idx': 'scopus_idx'})
# Strip scopus_idx
scopus = strip_scopus_idx(scopus)

In [74]:
# Make scopus lowercase
scopus = scopus.applymap(lambda s:s.lower() if type(s) == str else s)

In [75]:
# Check scopus
scopus.head()

,scopus_current_aff_auth_count,scopus_current_aff_country,scopus_current_aff_document_count,scopus_current_aff_name,scopus_current_aff_state,scopus_begin_publication_range,scopus_citation_count,scopus_cited_by_count,scopus_coauthor_count,scopus_document_count,scopus_end_publication_range,scopus_h_index,scopus_idx
0,12063,united states,71573,university of rochester,ny,1984,17171,12803,3672,227,2019,68,gail v johnson
1,1744,united kingdom,16439,"the natural history museum, london",NaN,1973,8948,5286,219,141,2018,54,kenneth o johnson
2,8517,united states,35650,"university of maryland, baltimore",md,1967,16607,12653,1177,175,2012,46,kenneth p johnson
3,39046,united states,173691,university of minnesota twin cities,mn,1976,2454,1492,132,100,2015,29,rodney l johnson
4,20437,united states,110368,georgia institute of technology,ga,1981,1720,1416,97,119,2018,22,steven w johnson

In [76]:
# Out clean scopus as csv
scopus.to_csv('data/cleaned_data/clean_scopus.csv')